<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Info</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Dog Info</h1>
            </div>
            <nav>
                <ul>
                    <li class="current"><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="showcase">
        <div class="container">
            <h1>Learn About Dogs</h1>
            <p>Here are some silly dogs.</p>
        </div>
    </section>

    <div class="container">
        <main>
            <img src="/static/images/dog.jfif" alt="A dog">
            <img src="/static/images/dog1.jfif" alt="Another dog">
            <img src="/static/images/dog2.jfif" alt="Could this be a dog?">
            <img src="/static/images/dog3.jfif" alt="What type of dog is this?">
            <img src="/static/images/dog4.jfif" alt="Is this a cat in a hat?">
        </main>

        <h2>SiktCTF{You_are_safe...maybe...}</h2>
    </div>

    <footer>
        <p>Dog Info &copy; 2024</p>
    </footer>
</body>
</html>
