<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Info</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Dog Info</h1>
            </div>
            <nav>
                <ul>
                    <li class="current"><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="showcase">
        <div class="container">
            <h1>Learn About Dogs</h1>
            <p>Here are some silly dogs.</p>
        </div>
    </section>

    <div class="container">
        <main>
            <img src="/static/images/dog.jfif" alt="A dog">
            <img src="/static/images/dog1.jfif" alt="Another dog">
            <div class="ads">
                <h2>Ad Section</h2>
                <p>THE BEST DOG BRUSH ON THE MARKET RIGHT NOW, BUY NOW, RIGHT NOW, BUY BUY!!!!</p>
                <img src="/static/images/ad2.webp" alt="THE BEST DOG BRUSH ON THE MARKET RIGHT NOW, BUY NOW!!!!">
            </div>
            <img src="/static/images/dog2.jfif" alt="Could this be a dog?">
            <img src="/static/images/dog3.jfif" alt="What type of dog is this?">
            <img src="/static/images/dog4.jfif" alt="Is this a cat in a hat?">
        </main>

        <div class="ads">
            <h2>Ad Section</h2>
            <p>THE BEST DOG FOOD ON THE MARKET RIGHT NOW, BUY NOW!!!!*</p>
            <img src="/static/images/ad.webp" alt="THE BEST DOG FOOD ON THE MARKET RIGHT NOW, BUY NOW!!!!">
        </div>

        <div class="social-media" id="tracker">
            <h2>Follow Us</h2>
            <button>Facebook</button>
            <button>Twitter</button>
            <button>Instagram</button>
        </div>

        <div class="ADDitional">
            <p>* The ad is based on tracked data retrieved from your computer**<br>** (This is not real)</p>
        </div>
    </div>

    <footer>
        <p>Dog Info &copy; 2024</p>
    </footer>
</body>
</html>
